{% extends 'base.html.twig' %}

{% block header %}
    {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}
    <a href="{{ path('default_index_crear') }}" class="btn btn-primary mb-3 ml-3">Añadir empresa</a>
    <form class="form-inline mb-3" method="GET">
        <input type="text" name="term" class="form-control mr-sm-2"/>
        <input type="submit" value="Buscar" class="btn btn-outline-primary my-2 my-sm-0"/>
    </form>
    <div class="table-responsive-xl">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Acción</th>
                    <th scope="col">Acción</th>          
                </tr>
            </thead>
            <tbody>
            {% for company in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ company.Nombre }}</td>
                    <td>{{ company.Telefono }}</td>
                    <td>{{ company.Email }}</td>
                    <td>{{ company.Sector.Nombre }}</td>
                    <td><a href="{{ path('default_index_modificar_empresa', { id: company.id }) }}" class="btn btn-info">Modificar</a></td>
                    <td><a href="{{ path('default_index_confirmar_eliminar_empresa', { id: company.id }) }}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation mx-auto" style="width: 250px;">
                {{ knp_pagination_render(pagination) }}
        </div>
        <div class="count mx-auto" style="width: 200px;">
            {{ pagination.getTotalItemCount }}
        </div>
    </div>
{% endblock %}