{% extends 'base.html.twig' %}

{% block header %}
    {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}
    <a href="{{ path('default_index_crear_sector') }}" class="btn btn-primary mb-3 ml-3">Añadir sector</a>
    <div class="table-responsive-xl">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acción</th>
                    <th scope="col">Acción</th>         
                </tr>
            </thead>
            <tbody>
            {% for sector in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ sector.Nombre }}</td>
                    <td><a href="{{ path('default_index_modificar_sector', { id: sector.id }) }}" class="btn btn-info">Modificar</a></td>
                    <td><a href="{{ path('default_index_confirmar_eliminar_sector', { id: sector.id }) }}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
                {{ knp_pagination_render(pagination) }}
        </div>
        <div class="count">
            {{ pagination.getTotalItemCount }}
        </div>
    </div>
{% endblock %}