{% extends 'base.html.twig' %}

{% block header %}
    {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}
    <button><a href="{{ path('default_index_crear_sector') }}">Añadir sector</a></button>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>         
            </tr>
        </thead>
        <tbody>
        {% for sector in sectors %}
            <tr>
                <td>{{ sector.Nombre }}</td>
                <td><button><a href="{{ path('default_index_modificar_sector', { id: sector.id }) }}">Modificar</a></button></td>
                <td><button><a href="{{ path('default_index_confirmar_eliminar_sector', { id: sector.id }) }}">Eliminar</a></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}